@font-face {
    font-family: 'Custom-Font';
    font-weight: 300;
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

#tabbrowser-tabs {
    --user-tab-rounding: 18px !important;
}

#TabsToolbar {
    --lwt-tab-line-color: rgba(0, 0, 255, 0) !important;
}

:root {
    font-weight: 400 !important;
    font-family: 'Custom-Font', sans-serif !important;
    --inline-tab-padding: 10px !important;
    --toolbarbutton-border-radius: 8px !important;
}


.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0px !important; /* Connected */
}

.tabbrowser-tab {
    padding: 0 5px !important;
}

:-moz-any(#TabsToolbar) .tabbrowser-tab[visuallyselected] {
	--tab-bgcolor: var(--toolbar-bgcolor);
	--tab-opacity: 1;
}

.tab-background::before,
.tab-background::after {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	width: 10px !important;
	height: 10px !important;
	bottom: 0 !important;
	pointer-events: none !important;
	transition: box-shadow 0s var(--tab-transition-duration) var(--ease-basic) !important;
	clip-path: inset(0) !important;
}

.tab-background::before {
	border-bottom-right-radius: 10px !important;
	left: 0 !important;
	transform: translateX(-10px) !important;
	box-shadow: 5px 5px 0 5px var(--tab-bgcolor) !important;
}

.tab-background::after {
	border-bottom-left-radius: 10px !important;
	right: 0 !important;
	transform: translateX(9px) !important;
	box-shadow: -5px 5px 0 5px var(--tab-bgcolor) !important;
}

#TabsToolbar {
    padding-left: 20px !important;
    --tab-border-radius: 8px !important;
}

#TabsToolbar, #tabbrowser-tabs {
    --tab-min-height: 38px !important;
}

#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon {
    height: auto !important;
}

#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

    /* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
    /* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon, 
#TabsToolbar-customization-target .toolbarbutton-text, 
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 8px !important;
    padding-bottom: 7px !important;
}

#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}

#nav-bar:-moz-lwtheme {
    box-shadow: none !important;
}

.tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom-color: transparent !important;
}
[brighttext="true"] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
    border-bottom-color: transparent !important;
}

.tab-content {
    font-family: 'Custom-Font', sans-serif !important;
    padding: 0 12px !important;
    transform: translateY(2px) !important;
}

#nav-bar {
    border-radius: 18px 18px 0px 0px;
}

#urlbar-background,
#searchbar {
    border-radius: 18px !important;
}

#identity-icon-box,
.urlbar-page-action,
#tracking-protection-icon-container {
    border-radius: 30px !important;
}

#main-window {
    /* background-color: rgba(0,0,0, 0.9) !important; */
    /* background-color: green !important; */
    /* opacity: 0.5 !important; */
}

#urlbar {
    transition: 200ms all ease !important;
}

/* #navigator-toolbox{ --toolbar-bgcolor: transparent !important} */