@-moz-document url-prefix(about:home), url-prefix(about:newtab) { 
    /* devanagari */
    @font-face {
      font-family: 'Custom-Font';
      font-weight: 300;
      src: url("./fonts/Poppins/Poppins-Regular.ttf") format('truetype');
  }

    body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(image/image.png) !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .search-handoff-button {
        background: #d8d8d81f var(--newtab-search-icon) 16px center no-repeat !important;
        backdrop-filter: blur(20px) !important;
        padding-inline-start: 60px !important;
        border-radius: 18px !important;
        font-family: 'Custom-Font', sans-serif !important;
        font-weight: 400;
    }
    .top-sites-lsit {
        font-family: 'Custom-Font', sans-serif !important;
    }
    .top-site-outer .tile {
        background: #d8d8d81f var(--newtab-search-icon) 16px center no-repeat !important;
        border-radius: 18px !important;
    
    }
}

